:root{
    --content-left-margin: 40px;
}

div {
    outline: 1px solid red;
}
body{
    margin:0; /* Pushes image to the corner of page */
}

.main-container {
    display: flex;
    background-color: lightgray;
}

.form-column {
    display: flex;
    flex-direction: column ;
    margin: 20vh 0 0 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.4rem;
}

.paragraph-one, .paragraph-two, .form-box, .create-account, .login {
    margin-left: var(--content-left-margin);
}

.paragraph-one{
    margin-bottom: 30px;
    margin-right: 15vh;
}

.paragraph-two {
    margin-bottom: 50px;
}

.form-background
{
    background: white;
}
.paragraph-three {
    margin: 40px 40px 20px 40px
}

.form-box{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.form-column-one{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 40vh;
}
.form-column-two {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 40vh;
}
input, label {
    display: block;
}
form > label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 100;
}
input{
    width: 30vh;
    margin-bottom: 15px;
    border-radius: 0.5rem;
    padding: 5px;
}

input + span {
    position: relative;
}

input + span::before {
    position: absolute;
    right: 100px;
    top: -42px;
}

input:invalid {
    border: 2px solid red;
}
  
  input:invalid + span::before {
    content: '✖';
    color: red;
}
  
  input:valid + span::before {
    content: '✓';
    color: green;
}
  

input:required{
    border: 1px solid black;
}
input:optional {
    border: 1px solid silver;
}


button{
    font-family: inherit;
    font-size: 100%;
    margin: 40px 0 30px 0;
    padding: 10px 40px 10px 40px;
    background-color: #596D48;
    color: white;
    border-radius: 0.5rem;
  }
  

/* left side background details */
.img-container {
    position: relative;
    display: flex;
}
.background-image{
    height: 100vh;
    width: auto;  
    position: relative;
}

.background-color {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20vh;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}

.img-logo{
    width: 10vh;
    height: auto;
}

.odin-text{
    color: white;
    font-size: 7rem;
    font-family: norse-bold;
}

@font-face {
    font-family: norse-bold;
    src: url(resources/Norse-Bold.otf);
  }